:root {
	--vp: 0; // Vertical Padding
	--hp: 10%; // Horizontal Padding
	--ch: 42px; // Content Height 42px
}

#content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: var(--ch);
    // width: calc(100% - var(--hp) * 2); // 100% - Padding * 2
    // padding: var(--vp) var(--hp); // Sets the inset for elements
    // background: #EDEEF2;
    font-family: 'Inter', sans-serif;
    // height: calc(100vh - var(--ch));
    h1 {
		margin: 20px auto 20px auto;
		font-weight: 700;
		font-size: 32px;
	}
    
    #contentbox {
        background: #EDEEF2;
		height: 100%;
		padding: var(--vp) var(--hp); // Sets the inset for elements
        #staffbio {
            margin: 20px auto;
            display: flex;
            width: 960px;
            height: 400px;
            background: #FFFFFF;
            #groupimg {
                width: 50%;
                height: 400px;
            }
            #stafftext {
                h2 {
                    margin: 10px auto auto 30px;
                    font-weight: 600;
                    font-size: 22px;
                }
                #staffspacer {
                    margin: 10px 20px;
                    height: 3px;
                    width: calc(100% - 40px);
                    background: #D9D9D9;
                }
                #bio {
                    p {  
                        margin: auto 30px;
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 20px;
                        // vertical-align: middle;
                    }
                }
            }
        }
        #spacer {
            position: absolute;
            left: 0;
            width: 100vw;
            height: 79px;
            background: #FFFFFF;
            text-align: center;
        }
        #bios {
            margin: calc(40px + 79px) auto 20px;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 2fr;
            // grid-template-areas: "img h2 img h2" "img p img p";
            gap: 10px;
            .selfie {
                width: 100%;
                object-fit: contain;
            }
            h2 {
            margin: 0;
            font-family: 'Inter', sans-serif;
            font-weight: 550;
            font-size: 1.2em;
            // height: 1.2em;
            }
            .bio {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 1em;
            margin-top: .3em;
            }
        } 
    }
}

body {
	margin: 0;
}