:root {
	--vp: 0; // Vertical Padding
	--hp: 10%; // Horizontal Padding
	--ch: 42px; // Content Height 42px
}

#content {
  display: inline-block;
	position: relative;
	top: var(--ch);
	// width: calc(100% - var(--hp) * 2); // 100% - Padding * 2
	padding: var(--vp) var(--hp); // Sets the inset for elements
  h1 {
		margin: var(--ch) auto 0 auto;
    text-align: center;
		font-family: 'Inter', sans-serif;
		font-weight: 550;
		font-size: 46px;
	}
  #groupimg {
    margin: var(--ch) 0 0 0;
    width: 100%;
    height: 400px;
  }
  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    font-size: 1.2em;
  }
  #bios {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    // grid-template-areas: "img p img p";
    gap: 10px;
    .selfie {
      margin: var(--ch) 0 0 0;
      padding: 0;
      width: 150px;
      // object-fit: cover;
    }
    .bio {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 1em;
    }
  }
}