:root {
	--vp: 0; // Vertical Padding
	--hp: 10%; // Horizontal Padding
	--ch: 42px; // Content Height 42px
}

#content {
  display: inline-block;
	position: relative;
	top: var(--ch);
	width: calc(100% - var(--hp) * 2); // 100% - Padding * 2
	padding: var(--vp) var(--hp); // Sets the inset for elements
  h1 {
		margin: var(--ch) auto 0 auto;
    text-align: center;
		font-family: 'Inter', sans-serif;
		font-weight: 550;
		font-size: 46px;
	}
}