:root {
	--vp: 0; // Vertical Padding
	--hp: 10%; // Horizontal Padding
	--ch: 42px; // Content Height 42px
}

#content {
	display: inline-block;
	position: relative;
	top: var(--ch);
	// width: calc(100% - var(--hp) * 2); // 100% - Padding * 2
	padding: var(--vp) var(--hp); // Sets the inset for elements
	h1 {
		margin: var(--ch) 0 0 0;
		font-family: 'Inter', sans-serif;
		font-weight: 550;
		font-size: 46px;
	}
	h2 {
		margin: 0;
		font-family: 'Inter', sans-serif;
		font-weight: 550;
		font-size: 24px;
		color: #AF0000;
	}
	#images {
		padding: 20px 0 0 0;
		display: grid;
		// grid-template-rows: 1fr 1fr;
		grid-template-columns: 3fr 1fr 1fr;
		grid-template-areas: "Main-Image img img" "Main-Image img img";
		gap: 16px;
		img {
			&:nth-of-type(1) {
				grid-area: Main-Image;
			}
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	#button {
		width: 8.1em;
		line-height: 50px;
		margin: 57px auto 0 auto; 
		a {
			text-decoration: none;
			span {
				display: block;
				font-family: 'Inter', sans-serif;
				font-weight: 550;
				font-size: 12px;
				text-align: center;
        color: #FFFFFF;
				background: #AF0000;
        // border-radius: 15px; //Might use
			}
		}
	}
}