body
	header(class="topnav")
		.topnavcontain
			.logo 
				img(src="https://raw.githubusercontent.com/Quinnterruption/JaggedEdge/main/Images/LogoColor.png")
			ul(class="toptext")
				li/ HOME
				li/ VIDEO
				li/ ABOUT US
				li/ CONTACT
			.socials
				a(href="https://www.instagram.com/jaggededgetv/?hl=en")
					img(src="https://raw.githubusercontent.com/Quinnterruption/JaggedEdge/main/Images/LogoInstagram.png")
				a(href="https://twitter.com/jaggededgevideo?lang=en")
					img(src="https://raw.githubusercontent.com/Quinnterruption/JaggedEdge/main/Images/LogoTwitter.png")
				a(href="https://www.youtube.com/channel/UCq7PExzi6fOEK0DMr7quo0w?app=desktop")
					img(src="https://raw.githubusercontent.com/Quinnterruption/JaggedEdge/main/Images/LogoYoutube.png")
		
	main(class="content")
		h1 JAGGED EDGE
		h2 [ STUDENT VIDEO ]
		.images
			a(href="")
				img(src="https://picsum.photos/325/260")
			a(href="")
				img(src="https://picsum.photos/325/260")
			a(href="")
				img(src="https://picsum.photos/325/260")
			a(href="")
				img(src="https://picsum.photos/325/260")
			a(href="")
				img(src="https://picsum.photos/325/260")
			a(href="")
				img(src="https://picsum.photos/325/260")
			a(href="")
				img(src="https://picsum.photos/325/260")
			a(href="")
				img(src="https://picsum.photos/325/260")
			a(href="")
				img(src="https://picsum.photos/325/260")
