@font-face {
  font-family: "DIN-Neuzeit-Grotesk-LT-W01";
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b41558bd-2862-46c0-abf7-536d2542fa26.eot?#iefix");
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b41558bd-2862-46c0-abf7-536d2542fa26.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/5cee8d6e-89ad-4d8c-a0ac-584d316b15ae.woff2") format("woff2"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/388ef902-2c31-4818-abb1-a40dcd81f6d6.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/29c60077-2614-4061-aa8d-5bcfdf7354bb.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/76250d27-b353-4f3b-90c6-0ff635fabaab.svg#76250d27-b353-4f3b-90c6-0ff635fabaab") format("svg");
  font-display: block;
}
@font-face {
  font-family: "DIN-Next-W01-Light";
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
  font-display: block;
}
:root {
  --vp: 0;
  --hp: 18vw;
  --ch: 72px;
}

.topnav {
  width: calc(100vw - var(--hp) * 2);
  padding: var(--vp) var(--hp);
  background-image: linear-gradient(to bottom, black 5%, rgba(0, 0, 0, 0));
}
.topnav .topnavcontain {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.topnav .topnavcontain .logo {
  padding: 18px 0 24px 0;
  height: 0;
}
.topnav .topnavcontain .logo img {
  width: 30px;
  height: 30px;
}
.topnav .topnavcontain .toptext {
  flex-grow: 1;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 50px;
  line-height: var(--ch);
}
.topnav .topnavcontain .toptext li {
  font-family: "DIN-Next-W01-Light";
  font-size: 14px;
  margin: 0 15px;
  color: #FFFFFF;
  cursor: pointer;
  transition: color 0.4s;
}
.topnav .topnavcontain .toptext li:first-child {
  color: #FF3333;
}
.topnav .topnavcontain .toptext li:hover {
  color: #CCCCCC;
}
.topnav .topnavcontain .socials {
  padding: 23px 0 25px 0;
}
.topnav .topnavcontain .socials a {
  text-decoration: none;
}
.topnav .topnavcontain .socials a img {
  width: 20px;
  height: 20px;
}
.topnav .topnavcontain .socials a:not(:nth-of-type(3)) {
  margin-right: 20px;
}

.content h1 {
  color: #FFFFFF;
  text-shadow: #000 -1px -1px, #000 -1px 1px, #000 1px 1px, #000 1px -1px;
  margin: 116px 0 10px calc(var(--hp) - 30px);
  inline-size: -webkit-min-content;
  inline-size: -moz-min-content;
  inline-size: min-content;
  font: 78px/1.1em "DIN-Neuzeit-Grotesk-LT-W01", sans-serif;
}
.content h2 {
  --c: rgba(0, 0, 0, 0.5);
  color: #FF3030;
  text-shadow: var(--c) -1px -1px, var(--c) -1px 1px, var(--c) 1px 1px, var(--c) 1px -1px;
  margin: 10px 0 10px calc(var(--hp) - 30px);
  font: 22px "DIN-Neuzeit-Grotesk-LT-W01", sans-serif;
  letter-spacing: 0.05em;
}
.content .images {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  place-content: center;
  position: relative;
  margin-top: 220px;
  margin-bottom: 100px;
}
.content .images a {
  text-decoration: none;
  overflow: hidden;
}
.content .images a img {
  width: calc(((100vw - 2*var(--hp)) + 40px) / 3);
  aspect-ratio: 16/9;
  --sc: 1;
  transform: scale(var(--sc));
  transition: 1.5s;
}
.content .images a img:hover {
  --sc: 1.1;
  filter: brightness(0.7);
}

body {
  display: block;
  margin: 0;
  background-image: url("https://raw.githubusercontent.com/Quinnterruption/JaggedEdge/main/Images/BackGround.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto-enabled;
}
